body {
    text-align: center;
}
.title-fluid {
    text-align: left;
    }


.container-fluid {
    padding: 1% 5%;
}

h1,h2,h3,h4,h5,h6 {
   
    font-family: "Orbitron", sans-serif;
}

h2 {

font-size: 1.5rem;
line-height: 1.5;
    
}

p {
    color: #8f8f8f;
}

.big-heading{
    font-family: "Orbitron", sans-serif; 
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
}




.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.navbar {
    padding: 0 0 3rem;
}

.nav-item {
    padding: 10px;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 95%;
}

.company-name {
    font-size: 2.5rem;
}

#features {
    padding: 7% 15%;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: darkslategray;
    margin-bottom: 1rem;
}

.icon:hover {
    color: blue;
}

/* Product section */

#products {
    background-color:darkslategray;
    color: #fff;
}


.Our-Products{
padding-top: 80px;
}

.carousel-item {
    padding: 4% 15%;
}

.product-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

#press {
background-color: darkslategray;
}

.press-logo{
    width: 15%;
    margin: 10px 10px 50px;
}

.mikrotik-logo{
padding-bottom: 1%;
}


/* pricing section */

#pricing {
    padding: 20px;
}

.pricing-column {
    padding: 3%
}

/* cta section */
#cta {
    color:#fff;
    padding: 7% 15%;
     /*THIS IS THE SECTION WERE MODIFIED*/
}

/* footer section */
#footer {
    padding: 7% 15%;
}


@media (max-width: 1028px){
h1 {
    
    font-size: 35px;
}
.title-fluid {
text-align: center;
}
.title-section{
    padding-bottom: 40px;
}
.product-image{
    width: 60%;
}
.Our-Products{
    padding-top: 30px;
    }

.big-heading{
        font-size: 2rem;
    }

}

.social-icon{
    margin: 20px 10px;
}


